* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;

}

#main {
    width: 100%;
    height: 100%;
}

#nav {
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
}

#logo {
    display: flex;
    gap: 10px;
}

#logo img {
    font-size: 10px;
}

#logo h4 {
    font-size: 18px;
    padding-top: 15px;
}

#center {
    display: flex;
    gap: 25px;
}

#center h4 {
    font-size: 16px;
}

#right a {
    font-size: 18px;
    text-decoration: none;
    margin: 20px;
    color: black;
}

#right button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}

#textcenter {
    width: 100%;
    height: 38%;
    text-align: center;
}

#textcenter h1 {
    font-size: 90px;
    font-weight: 600;
    line-height: 0.9;
}

#textcenter p {
    font-size: 20px;
    padding-top: 10px;
    line-height: 1.3;
}

#fooder {
    width: 100%;
    height: 43%;
    display: flex;
    gap: 2%;
    padding: 0 70px;
}

#fooder .col {
    width: 19%;
    height: 100%;
    border-radius: 18px;
}

#fooder .col:nth-child(1) {
    padding: 18px 15px;
    background-color: black;

}

#fooder .col:nth-child(1) h5 {
    font-size: 18px;
    font-weight: 120;
    color: white;
    opacity: 0.4;
}

#fooder .col:nth-child(1) h1 {
    color: white;
    font-size: 18px;
    font-weight: 600;
    opacity: 0.8;
}

#fooder .col:nth-child(1) .dates {
    background-color: rgba(56, 56, 56, 0.644);
    border-radius: 10px;
    display: flex;
    margin-top: 20px;

}

#fooder .col:nth-child(1) .dates .arrow {
    width: 10%;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

#fooder .col:nth-child(1) .dates .date {
    width: calc(80%/3);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#fooder .col:nth-child(1) .dates .date h4 {
    font-size: 13px;
    opacity: 0.8;
    color: white;
}

#fooder .col:nth-child(1) .dates .date h2 {
    font-size: 23px;
    color: white;
}

#fooder .col:nth-child(1) .dates .selected {
    background-color: rgba(56, 56, 56);
}

#fooder .col:nth-child(1) .tasks {
    display: flex;
    margin-top: 12px;
}

#fooder .col:nth-child(1) .tasks .task {
    display: flex;
    width: 100%;
    background-color: black;
    height: 80%;
    border-radius: 10px;
}

.task h3 {
    font-size: 15px;
    padding: 10px 3px;
    color: white;
    opacity: 0.6;
}

.task .marking {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    margin-left: 12px;
    border-radius: 10px;
}

.task .marking i {
    font-size: 28px;
    padding: 2px 5px;
}

.task .marking h4 {
    padding: 10px 6px;
    opacity: 0.6;
}

#fooder .col:nth-child(1) .prevent {
    display: flex;
    margin-top: 12px;

}

#fooder .col:nth-child(1) .prevent .pre {
    display: flex;
    width: 100%;
    background-color: black;
    height: 80%;
    border-radius: 10px;
}

.pre h3 {
    font-size: 15px;
    padding: 10px 3px;
    color: white;
    opacity: 0.6;
}

.pre .mark {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(56, 56, 57, 56);
    margin-left: 12px;
    border-radius: 10px;
}

.pre .mark i {
    font-size: 28px;
    padding: 2px 5px;

}

.pre .mark h4 {
    padding: 10px 6px;
    opacity: 0.4;
    color: white;
}

#fooder .col:nth-child(1) .profit {
    display: flex;
    margin-top: 12px;
}

#fooder .col:nth-child(1) .profit .pro {
    display: flex;
    width: 100%;
    background-color: black;
    height: 80%;
    border-radius: 10px;
}

.pro h3 {
    font-size: 15px;
    padding: 10px 3px;
    color: white;
    opacity: 0.6;
}

.pro .market {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(56, 56, 56);
    margin-left: 12px;
    border-radius: 10px;
}

.pro .market i {
    font-size: 28px;
    padding: 2px 5px;
}

.pro .market h4 {
    padding: 10px 6px;
    opacity: 0.4;
    color: white;
}
#fooder .col:nth-child(2) {
    height: 70%;
    width: 20vw;
    background-color: blue;
    background-image:url(https://th.bing.com/th/id/OIP.aW89zQXh4-dQD3muCKS6MQHaEo?rs=1&pid=ImgDetMain) ;
    background-size: cover;
    background-position: 50% 0;
    margin-top: 84px;
}
#fooder .col:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

#fooder .col:nth-child(3) .top {
    text-align: center;
}

#fooder .col:nth-child(3) .top button {
    padding: 15px 25px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: none;
}

#fooder .col:nth-child(3) .top h5 {
    font-weight: 20px;
}

#fooder .col:nth-child(3) .btm {
    width: 100%;
    height: 38%;
    background-color: aquamarine;
    border-radius: 20px;
}

#fooder .col:nth-child(3) .btm h4 {
    font-size: 20px;
    padding: 20px 30px;
}




#fooder .col:nth-child(4) {
    height: 70%;
    margin-top: 84px;
    background-color: rgba(128, 0, 128, 0.808);
    padding: 8px;
}

#fooder .col:nth-child(4) .row1 {
    display: flex;
    padding: 10px 20px;
}

#fooder .col:nth-child(4) .row1 .image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-image: url(https://th.bing.com/th?id=OIP.KGQIfOwZrVHrAi5LugA7PwHaEP&w=330&h=189&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2);
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

#fooder .col:nth-child(4) .row1 h3 {
    font-size: 20px;
    padding-top: 10px;
}

#fooder .col:nth-child(4) .row1 h5 {
    font-size: 12px;
    padding: 18px 5px;
    opacity: 0.6;
}

#fooder .col:nth-child(4) h4 {
    padding-left: 20px;
    font-weight: 20;
    font-size: 15px;
}

#fooder .col:nth-child(4) .tile {
    margin-top: 20px;
    width: 100%;
    background-color: black;

    border-radius: 12px;
    display: flex;
    height: 33%;
}

#fooder .col:nth-child(4) .tile .badge {
    margin: 8px;
    width: 52px;
    background-color: rgba(255, 255, 255, 0.705);
    border-radius: 10px;
    text-align: center;
}

.badge h5 {
    font-size: 15px;
    opacity: 0.6;
}

.badge h3 {
    opacity: 2;
    font-size: 20px;
}

#fooder .col:nth-child(4) .tile .text {
    margin: 8px;
}

.text h3 {
    font-size: 20px;
    font-weight: 28;
    color: white;
}

.text p {
    color: white;
    opacity: 0.5;
    font-size: 13px;
}
#fooder .col:nth-child(5) #overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#fooder .col:nth-child(5) {
    background-image: url(https://th.bing.com/th/id/OIP.EHrzycF6yqnrEUi5KhSwaAHaEo?w=295&h=184&c=7&r=0&o=5&pid=1.7);
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

#overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    padding: 8px;
}

#fooder .col:nth-child(5) #overlay h3 {
    padding: 20px 15px;
    color: white;
    font-size: 20px;
    font-weight: 60;
    opacity: 0.9;
}

#fooder .col:nth-child(5) #overlay .btn {
    display: flex;

    width: 100%;
    height: 18%;
    background-color: rgba(0, 0, 0, 0.623);
    border-radius: 17px;
}

.btn i {
    font-size: 40px;
    text-align: center;
    color: white;
}

.btn h4 {
    font-size: 18px;
    opacity: 0.7;
    font-weight: 200;
    color: white;
    padding: 10px 10px;
}
